# code: language=yaml
#
# Helm Release: grafana-operator
#

{{- $grafOp := $state.grafanaOperator }}

---
apiVersion: helm.m.crossplane.io/v1beta1
kind: Release
metadata:
  name: {{ $grafOp.name }}
  annotations:
    {{ setResourceNameAnnotation "grafana-operator" }}
  labels: {{ $state.labels | toJson }}
spec:
  managementPolicies: {{ $state.managementPolicies | toJson }}
  forProvider:
    chart:
      name: grafana-operator
      repository: oci://ghcr.io/grafana/helm-charts
      # renovate: datasource=docker depName=grafana/helm-charts/grafana-operator registryUrl=https://ghcr.io
      version: 5.25.0
    namespace: {{ $grafOp.namespace }}
    {{- if $grafOp.overrideAllValues }}
    values:
      {{- toYaml $grafOp.overrideAllValues | nindent 6 }}
    {{- else }}
    {{- /* Burstable: reconciler, low steady-state usage, restart-cheap. */}}
    {{- $defaults := dict
      "resources" (dict
        "requests" (dict "cpu" "50m" "memory" "64Mi")
        "limits" (dict "cpu" "100m" "memory" "256Mi")
      )
    }}
    {{- if $state.nodePool.enabled }}
      {{- $_ := set $defaults "nodeSelector" $state.nodePool.nodeSelector }}
      {{- $_ := set $defaults "tolerations" $state.nodePool.tolerations }}
    {{- end }}
    {{- $merged := mustMergeOverwrite $defaults ($grafOp.values | default dict) }}
    {{- if $merged }}
    values:
      {{- toYaml $merged | nindent 6 }}
    {{- end }}
    {{- end }}
  rollbackLimit: 3
  providerConfigRef:
    name: {{ $state.helm.providerConfigRef.name }}
    kind: {{ $state.helm.providerConfigRef.kind }}
